
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,900;1,100;1,300;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,900&family=Mulish:ital,wght@0,400;0,700;0,800;1,600&family=Open+Sans:wght@400;700;800&family=Poppins:wght@500;600;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

  *{
   font-family: 'Mulish', sans-serif;
  }
  body{
    max-width: 1200px;
    margin: 20px auto;
  }
  .nav-logo{
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .nav-logo img{
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
  }
  .nav-title{
    font-size: 36px;
    font-weight: 800;
  }
  .nav-title-o{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
  }
  nav{
    display: flex;
    justify-content: space-between;
  }
  nav ul{
    display: flex;
    gap: 44px;
    align-items: center;
  }
  nav li{
    list-style: none;
   
  }
  nav a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
    align-items: center;
  }
  .nav-home{
    color: #FF5400;
  }
  /* _-------------------banner section start________________________ */

  .banner{
    text-align: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
    url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
    border-radius: 16px;
    margin-bottom: 100px;
  }
  .banner-title{
    color: white;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
    padding-bottom: 24px;
  }
  .banner-description{
    color: white;
    font-size: 16px;
    font-weight: 400;

  }
  .banner-button input{
    background: #FFF;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
  }
  .banner-button{
    display: flex;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
    height: 55px;
    gap: 24px;
    border-radius: 8px;
    margin-top: 48px;
    margin-left: 185px;
    padding: 22px;
    align-items: center;
  }
.search{
  display: flex;
  align-items: center;
  position: relative;
}
.icon{
  position: absolute;
  /* padding-right: 5px; */
  /* right: 5px; */
  margin-left: 15px;
  margin-top: 7px;
}
#find-now{
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  /* ______________SEction two start______________ */

  .section-two-banner{
    width: 570px;
  }

.section-two{
    display: flex;
    gap: 50px;
    margin-top: 100px;
}
.section-two-banner h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.list{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;

}
.section-two-banner p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 16px;

}
.section-two-banner button{
        color: #FFF;
      text-align: center;
      font-size: 20px;
      font-weight: 800;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
}
.section-two-img{
    margin-top: 50px;
}

/* ________________Section 3 start___________________ */

.destination{
   text-align: center; 
   margin-top: 100px;
}
.destination h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.destination p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;

}
.country-one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 45px;
}
.country-two{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin-top: 24px;
}
.country-three{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-top: 24px;
}
.country{
  position: relative;
  text-align: center;
  color: #FFF;
font-size: 28px;
font-weight: 800;
}
.maldives{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ___________________________SECTION 4 START____________________ */
.choose{
    text-align: center;
    margin-top: 100PX;
}
.choose-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}
.choose-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}
.card-one{
    width: 573px;
    height: 284px;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.card-two{
    width: 573px;
    height: 284px;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 48px;
    gap: 24px;
}
.card-three{
    width: 573px;
    height: 284px;
    padding: 32px;
    margin-top: 24px;
    margin-left: 300px;
    border-radius: 16px;
    align-items: center;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.card h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-top: 32px;
    padding-bottom: 16px;
}
.card p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
.card-three h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-top: 32px;
    padding-bottom: 16px;
}
.card-three p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
/* ___________________________SEction five one start_____________ */
.holiday-banner{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
.holiday-title{
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}
.holiday-description{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.holiday-img img{
  width: 300px;
  height: 340px;
}
.card-title{
  color: #131318;
font-size: 24px;
font-weight: 800;
}
.card-description{
  color: #5A5A5D;
font-size: 16px;
font-weight: 400;
}

.holiday-card{
  border: 1px solid #ed9569;
  background: rgba(241, 166, 82, 0.05);
  padding: 8px;
  width: 310px;
  height: 363px;
  border: none;
  font-style: normal;
}
.holiday-btn{
  background: #FF5400;
    margin-top: 32px;
      width: 174px;
      height: 52px;
      border-radius: 8px;
      border: none;
      color: #FFF;
font-size: 20px;
font-weight: 800;
}
.holiday-flex-one{
  display: flex;
}
.holiday-flex-two{
  display: flex;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.holiday-flex-three{
  display: flex;
}
.holiday-flex-four{
  display: flex;
}
/* ___________________SECTION FIVE START_____________________ */
.lost-container{
  width: 532px ;
}
.container-place{
  display: flex;
  gap: 45px;
  margin-top: 113px;
}
.lost-pic{
  background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 40089.png);
  width: 610px;
  height: 424px;
  margin-top: 55px;
  border-radius: 16px;
}
.lost-pic h4{ 
  text-align: center;
  align-items: center;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  padding: 176px 167px;
  }
  .lost-title{
    color: #131318;
font-size: 40px;
font-weight: 800;
margin-bottom: 24px;

  }
  .lost-description{
    color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;

  }
  .lost-list{
    color: #131318;
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;

  }
  .lost-btn{
    background: #FF5400;
    margin-top: 32px;
      width: 174px;
      height: 52px;
      border-radius: 8px;
      border: none;
      color: #FFF;
font-size: 20px;
font-weight: 800;
 }
 /* <!-- _________________SECTION 6 START________________________________ --> */
 .login-form{
  border-radius: 16px;
border: 1px solid #FF5400;
width: 474px;
height: 422px;
padding-left: 40px;
margin-top: 100px;

 }
 .login-form h5{
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 16px;
 }
 .login-form p{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
 }
 .info{
  border-top: 1px solid gray;
  /* margin: 24px 0; */
  height: 48px;
  margin-bottom: 16px;
 }
 input{
  display: block;
  width: 393px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.30);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 16px;
  border: none;
  padding: 16px 20px;
 }
 .Subscribe-btn{
  width: 393px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  /* margin-top: 24px; */
  margin-bottom: 40px;
 }
 .login-section{
  display: flex;
  gap: 24px;
 }
 .login-img{
  margin-top: 100px;
  width: 672px;
  height: 422px;
  position: relative;

 }
 .text{
  border-radius: 16px;
  background: #FF5400;
  /* transform: rotate(-19.628deg); */
  width: 324px;
  text-align: center;
  padding-top: 0px;
  position: absolute;
  bottom: -0px;
align-items:self-end;
 }
 .text h5{
  color: #FFF;
  font-size: 20px;;
  font-weight: 300;
 }
 .text h3{
  color: #FFF;
  font-size: 32px;
  font-weight: 800;
  padding-top: 4px;
  margin-top: 3px;
 }
 /* _______________________FOOTER SECTION START________________________ */
.issue{
  max-width: 1440px;
}
 .footer{
  text-align: center;
  margin-top: 100px;
  background: rgba(19, 19, 24, 0.05);
  height: 502px;
  padding-top: 100px;
 }
 .footer-title{
  display: flex;
 padding-left: 480px;
 }
 .footer-title span{
  color: #FF5400;
font-size: 32px;
font-weight: 800;
 }
 .footer-title h4{
  color: var(--Dark-01, #131318);
font-size: 32px;
font-weight: 800;
 }
 .footer P{
  color: #5A5A5D;
font-size: 16px;
font-weight: 400;
 }
 .copyright{
  padding-top: 100px;
 }
 .Social-link{
  border-bottom: 1px solid gray;
align-items: center;
 }

 /* Media responsive_________________________ */
 @media screen and (max-width:576px) {
body{
  max-width: 576px;
  margin: 0 auto;
}
.nav-title{
  color: #131318;
font-size: 21.543px;
font-weight: 800;
}
.nav-title-o{
  color: #FF5400;
font-size: 21.543px;
font-weight: 800;
}
nav,.banner-button{
  flex-direction: column;
}
.nav ul{
  padding-left: 8px;
  gap: 17px;

}
.section-two{
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.banner-button input{
 margin-top: 0px;
 width: 290px;
}
.banner-button{
height: 260px;
margin: 0px 10px;
width: auto;
flex-direction: column;
gap: 0px;

}
 .nav-logo{
  padding-left: 10px;
}
.banner{
  width: 397px;
  margin-left: 8px;
}
.banner-title{
  color: #FFF;
font-size: 22px;
font-weight: 800;
padding-top: 5px;
padding-bottom: 10px;

}

  .banner-description{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }
  .section-two-banner{
    width: 335px;
    margin-top: -71px;
    margin-left: 8px;
  }
  .section-two-banner h2{
    color: #131318;
  font-size: 20px;
  font-weight: 800;
  }
  .section-two-img img{
    width: 397px;
    margin-left: 8px;
    height: 342px;
    margin-bottom: -82px;
    margin-top: -30px;
  }
  .destination h1{
    color: #131318;
text-align: center;
font-size: 20px;
font-weight: 800;
padding-top: 24px;

  }
  .country-one{
    grid-template-columns: repeat(1,1fr);

  }
  .country-two{
    grid-template-columns: repeat(1,1fr);
   
 }
  .country-three{
    grid-template-columns: repeat(1,1fr);
 
 }
 .country-one img{
  width: 335px ;
  height: 176px;
  margin-left: -176px;
 }
 .country-two img{
  width: 335px ;
  height: 176px;
  margin-left: -176px;
 
 }
 .country-three img{
  width: 335px ;
  height: 176px;
  margin-left: -176px;
}
.choose-title{
    font-weight: 800px;
    font-size: 28px;
    margin-top: -54px;
    margin-left: 8px;
    text-align: left;
}
.choose-description{
    margin-top: -34px;
    margin-left: 8px;
    width: 365px;
    font-size: 14px;
    font-weight: 400;

}
.card{
  margin-top: 0px;
  grid-template-columns: repeat(1, 1fr);
}
.card-one{
  width: 332px;
  margin-bottom: 22px;
  height: 310px;
}
.card-two{
width: 332px;
}
.card-three{
  margin-left: 8px;
  margin-right: 8px;
  width: 332px;
}
.holiday-title{
  color: #131318;
font-size: 25px;
font-weight: 800;
}
.holiday-flex-one{
  flex-direction: column;
}
.holiday-flex-two{
  flex-direction: column;
}
.holiday-flex-three{
  flex-direction: column;
}
.holiday-flex-four{
  flex-direction: column;
}
.grid{
  grid-template-columns: repeat(1, 1fr);
}
.container-place{
  flex-direction: column;
}
.lost-title{
font-size: 20px;
font-weight: 800;
margin-top: -60px;
}
.lost-container{
  width: 403px;
  padding: 0px 8px;
}
.lost-pic{
  margin-top: -27px;
  width: 397px;
  margin-left: 8px;
}
.login-section{
  flex-direction: column;
}
.login-form{
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 50px;
  padding-left: 10px;
  width: 391px
}
.login-form h2{
  text-align: center;
}
.login-form p{
  text-align: center;
}
.info input{
  width: 342px;
}
.info button{
  width: 382px;
}
.login-img{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px
}
.login-img img{
  width: 396px;
  height: 450px;
}
.text{
  width: 248px
}
.login-section{
  gap: 0px;
}
.footer-title{
  padding-left: 38px;
  margin-bottom: -32px;
}
.footer{
  height: 300px;
    /* width: 397px;
  padding-top: 0px; */
}
.copyright{
  padding-top: 0px;
}
.destination P{
  width: 399px;
}
.destination h1{
  margin-left: -271px;
}


}


 
 
